* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background:linear-gradient(to bottom, #0a192f, #1e2a38);
}


.container1 {
    background: rgba(57, 50, 250, 0.187);
    border-radius: 10px;
    color: white;
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.container1:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
}
.header1 {
    text-align: center;
}

.header1 h1 {
    font-size: 20px;
    color: green;
    
}

.header1 h3 {
    font-size: 18px;
    font-weight: 400;
    color: #b0c4de;
}


.img-area1 {
    width: 250px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    margin-bottom: 0;
    padding: 10px;
    border: 15px groove deepskyblue;
    transition: border 0.3s ease, transform 0.3s ease;
}
.img-area1:hover {
    border-color: #ff7f50;
    transform: scale(1.05);
}
.img-area1 img {
    width: 100%;
}

.main1 {
    display: flex;
    flex-wrap: wrap;
}

.left1 {
    flex: 1;
    padding: 30px;
}

.left1 p {
    line-height: 1.5;
}

.left1 ul li {
    line-height: 1.8
}
/* 
h2 {
    background-color: white;
    padding: 15px;
    color: black;
    margin: 30px 0;
    font-size: 20px;
    border-radius: 0 50px 50px 0;
} */

h2 {
    background-color: #5073ff;
    padding: 15px;
    color: white;
    margin: 30px 0;
    font-size: 20px;
    border-radius: 0 50px 50px 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h2:hover {
    background-color: #50ff67be;
    color: white;
}

.right {
    flex: 1;
    padding: 30px;
}

.right h3 {
    margin-bottom: 15px;
}

.right p {
    line-height: 2.9;
}

.right ul li {
    line-height: 2;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container1 {
        width: 95%;
        height: auto;
    }

    h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .main1 {
        flex-direction: column;
    }

    .left1,
    .right {
        flex: none;
        width: 100%;
    }

    .container1 {
        width: 95%;
        height: auto;
    }

    h2 {
        font-size: 15px;
    }
}

div #cvBack {
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
